:root {
    --gray: rgb(128, 128, 128);
    --mediumGray: #c5c5c5;
    --lightGray: #f5f5f5;
    --white: #ffffff;
    --black: #000;
    --gree: rgb(5, 218, 108);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--gray)
}

a {
    text-decoration: none;
    color: var(--gray)
}

li {
    list-style: none;
    display: inline-block;
}

hr {
    border: 1px solid var(--lightGray);
}

fieldset {
    border: none;
    display: inline-flex;
}

legend {
    display: none;
}

.container {
    width: 90%;
    margin: auto;
}

.borderRight {
    border-right: 1px solid var(--mediumGray);
}

.paddingRight {
    padding-right: 10px;
}


/*Header*/

.container header .infoWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.infoWrapper .leftMenu>ul li a {
    display: block;
    padding: 10px 10px 0;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.infoWrapper .leftMenu ul li a:hover {
    color: var(--black);
}

.infoWrapper .leftMenu>ul li {
    position: relative;
}

.infoWrapper .leftMenu>ul li .itemsMenuWomen,
.infoWrapper .leftMenu>ul li .itemsMenuMen {
    width: 130px;
    padding: 10px 0 20px;
    background: var(--lightGray);
    position: absolute;
    z-index: 1;
    display: none;
}

.menuShow {
    cursor: pointer;
    transition: height 0.5s ease;
}

ul>li.menuShow:hover>.itemsMenuWomen,
ul>li.menuShow:hover>.itemsMenuMen {
    display: block;
}

.infoWrapper .leftMenu ul li ul li a {
    text-transform: capitalize;
    display: block;
    font-size: 15px;
}

.infoWrapper .centerMenuWrapper>nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoWrapper .centerMenuWrapper>nav ul li a {
    display: block;
    padding: 10px;
    color: var(--mediumGray);
    transition: all 0.5s ease;
}

.infoWrapper .centerMenuWrapper>nav ul li a:hover {
    background: var(--black);
    color: var(--white)
}

.infoWrapper .centerMenuWrapper>nav ul li:nth-child(4) a {
    color: var(--black);
    transition: all 0.5s ease;
}

.infoWrapper .centerMenuWrapper>nav ul li:nth-child(4) a:hover {
    color: white;
}

header .infoWrapper .searchWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 31px;
}

header .infoWrapper .searchWrapper form {
    display: flex;
    align-items: flex-end;
}

header .infoWrapper .searchWrapper form .search-nav {
    width: 200px;
    font-size: 16px;
    background: var(--white) url(./assets/images/icons/search.svg) no-repeat left center;
}

header .infoWrapper .searchWrapper form input[type=search],
input[type=email] {
    padding: .5em .6em .5em 3em;
    display: inline-block;
    border: 1px solid #fff;
    border-bottom: 1px solid #2f2e2e;
}

header .infoWrapper .searchWrapper form ul li a {
    display: block;
    padding-left: 10px;
}

header .infoWrapper .searchWrapper form ul li a img {
    height: 20px;
}

header .infoWrapper .searchWrapper>ul {
    padding: 17px 0;
    text-align: end;
}

header .infoWrapper .searchWrapper>ul li a {
    display: block;
    padding-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

header .infoWrapper .searchWrapper>ul li a:hover {
    color: var(--black);
}

header .infoWrapper .searchWrapper>ul li:nth-child(3) a {
    padding: 0;
}


/*grid section*/

section .itemsGridWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 70px;
}

section .itemsGridWrapper .card {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

section .itemsGridWrapper .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 3px 5px rgb(0 0 0 / 22%);
}

section .itemsGridWrapper .card img {
    width: 100%;
    height: 100%;
}

section .itemsGridWrapper .card>div {
    padding: 10px 0 31px 0;
}

section .itemsGridWrapper .card>div p {
    text-align: center;
}

section .itemsGridWrapper .card>div p:nth-child(2) {
    font-weight: bold;
    margin-top: 10px;
}

section .itemsGridWrapper .card span {
    font-size: 14px;
    font-weight: bold;
    background-color: var(--white);
    padding: 4px;
    position: absolute;
    top: 57%;
    left: 1%;
}


/*Discount*/

article .discount_container {
    text-align: center;
    padding: 50px 0;
}

article .discount_container h2 {
    color: var(--black);
}

article .discount_container h2:nth-child(2) {
    font-weight: 100;
    margin: 20px 0;
}


/*Contacto*/

article .contact_container {
    width: 60%;
    padding: 35px 0;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

article .contact_container p {
    font-weight: bold;
}

article .contact_container ul li a {
    border-right: 1px solid var(--gray);
    display: block;
    padding: 5px 10px 0 10px;
}

article .contact_container ul li:nth-child(1) a {
    border: none;
    color: var(--gree);
}

article .contact_container ul li:nth-child(2) a {
    border-left: 1px solid var(--gray)
}

article .contact_container ul li span i {
    color: var(--gray);
    font-size: 22px;
}

article .contact_container p {
    margin-top: 10px;
    font-weight: 300;
}

article .contact_container ul li a span img {
    height: 20px;
}


/*Footter*/

footer>div {
    width: 80%;
    margin: auto;
    font-size: 12px;
}

footer .footerInfoWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 70px;
    padding: 60px 0;
}

footer .footerInfoWrapper div p {
    font-weight: bold;
    margin-bottom: 30px;
}

footer .footerInfoWrapper div ul li {
    display: block;
    line-height: 1.5rem;
}

footer .footerExtrasWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .footerExtrasWrapper a {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--lightGray);
    transition: all 0.5s ease;
}

footer .footerExtrasWrapper a:hover {
    background: var(--lightGray);
}

footer .footerExtrasWrapper a:nth-child(3) {
    border: none;
}

footer .footerExtrasWrapper a ul li {
    padding: 5px 10px 0;
}

footer .footerExtrasWrapper a p {
    padding-top: 10px;
}

footer .footerExtrasWrapper a p:nth-child(3) {
    font-weight: bold;
    padding-top: 5px;
}
